<%- include('../../partials/siteHeader', {pageTitle: "Dishes Page"}) %>

<h3>Create New Product</h3>

<form action="./store" method="post">
    <label for="productName">product Name</label>
    <input type="text" name="productName" id="productName">
    <br>
    <label for="weight">weight</label>
    <input type="number" name="weight" id="weight">
    <br>
    <label for="description">weight</label>
    <textarea name="description" id="description"></textarea>
    <br>

    <input type="submit" value="Create New Product">
</form>


<%- include('../../partials/siteFooter') %>